@media screen and (max-width: 820px) {
    .about {
      height: 4000px;
      
    }
 
  }
  
  @media screen and (max-width: 768px) {
  }
  



  @media only screen and (max-width:1000px) {

  

    }