.home-container{
    max-height: 500px;
    margin-top: -2px;
}


@media screen and (max-width: 740px) {  
    .hero-container {
        margin-top: 80px;
        width: 80%;
        font-size: 10px;
        justify-content: center;
        margin-top: 10px;
    }

    .divfoot{
      margin-top: 10em;
    }
    
    .reach1 {
        font-size: 1em;
        margin-top: 3em;
    }

    .about-pic {
        height: 25em;
        margin-top: 1em;
        width: 100%;
        border-radius: 90px;
        position: 1;
      }
      
      .pabout {
        font-size: 0.8em;
      }
      
      .habout {
        font-size: 1.5em;
        margin-top: 1em;
        color: beige;
        background: #2a01e0;
        border: 5px solid black;
        border-radius: 20px;
        text-shadow: 1px 1px 0px #ffffff, 5px 4px 0px rgba(0,0,0,0.15);
      
      }
      
      .p-box {
        margin-top: 2em;
      }
    
  
.about-main {
  width: 100%;
  height: 100em;
  background-attachment: scroll, local;
}

.about {
  margin-top: 1.7em;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

} 

.about-text {
  width: 92%;
}
    


    .boxe1{ 
      margin-top: -0.2em;
      font-size: 6em;
      font-weight: bold;
      color: #333333;
      background: #ffffff48;
      border-radius: 40px;
      text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0,0,0,0.15);
    }
    
    .hh1 {
        font-size: 1em;
        
    }

    .gloves{
        color: rgba(0, 0, 0, 0.993);
        font-family: 'Orbitron', sans-serif, Arial, Helvetica, sans-serif;
        font-size: 0.75em;
        font-size: bold;
    }

    .beneficies { 
         font-size: 1em;
         color: blue;         
      
      }

    .boxe-container{
        /* border: 1px solid black; */
        margin-top: -40px;
        margin-left: 30px;
        margin-right: 30px;
        max-width:100%;
        display: flex;
        font-size: 0.7em;
        justify-content: center;
        flex-direction: column;
      
      }
      
     .animated-container {
         display: flex;
         font-size: 10px;
         width: 50%;
         justify-content: center;
         margin-left: auto;
         margin-right: auto;
     }
    
     .h22 {
         font-weight: lighter;
         font-size: 2em;
     }

     .classes {
       width: 95%;
     }

     .entre-em {
       font-size: 2em;
       width: 90%;
       display: flex;
       justify-content: center;
     }

     .entre {
       display: flex;
       justify-content: center;
     }
       
     .media {
       font-size: 0.5em;
       margin-top: 80px;
     }

     .entre-em-e {
       font-size: 2em;
       margin-top: 2em;
     }

    
    .cards-item-text {
      font-size: 15px;
      line-height: 34px;
      display: flex;
      justify-content: center;
      font-size: 17px;
      height: 60px;
      
    }

    .cards-item-pic-wrap {
      position: relative;
      width: 100%;
      overflow: hidden;
      background-color: rgb(0, 10, 10);
      
    }
    
    .venha {
      font-size: 1.8em;
      height: 5em;
      display: flex;
      align-items: center;
    }
     
}

.gloves{
    color: rgba(0, 0, 0, 0.993);
    font-family: 'Orbitron', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-size: bold;
}


.reach {
    margin-top: 20px;
    font-size: 2em;
    display: flex;
    color: rgb(253, 4, 4);
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.boxe1{ 
    margin-top: -0.2em;
    font-size: 6em;
    font-weight: bold;
    color: #333333;
    background: #ffffff48;
    border-radius: 40px;
    text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0,0,0,0.15);
  }