@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  background-color: rgb(2, 10, 10);
}

.carousel-item {
display: flex;
justify-content: center;
}

.ccaption h3 {
  padding: 10px;
  height: 2em;
  color: rgb(246, 246, 246);
  border: 1px solid rgb(233, 5, 5);
  background-color: white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 1px black;
  background: #0c0301f5;
  text-shadow: 0 0 10px #FFFFFF;
 }
 
 .ccaption p {
  height: 2em;
  color: rgb(249, 249, 252);
  border: 2px solid white;
  background-color: black;
  width: 20em;
  align-items: center;
  margin-left: 620px;
  
 }

 .ccaptionmude h3 {
  height: 3em;
  background-color: black;
  color: rgb(248, 250, 246);
  border: 2px solid white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }


.carousel-control-next {
  display: flex;
  margin-top: 0px;
}

.carousel {
  margin-top: 21px;
}

.cards2 {
  justify-content: center;
}

.showButton {
  display: flex;
  flex-direction: column;
}

.c.capation {
  font-size: 8em;
  background-color: aqua;
}

@media only screen and (max-width:1000px) {

  .ccaption p {
    /* display: inline; */
    /* margin-bottom: 10px; */
    margin-left: 5px;
    font-weight: bold;
    font-size:1em;
    width: 18em;
    height: 2em;
    color: rgb(0, 0, 7);
    background-color: #f30c0c;
    border:2px solid black ;
    
  }
  .menu-icon {
    margin-right: 20px;
  }

  .carousel {
    margin-top: 20px;
  }

  .navbar-logo{
    margin-top: 30px;
  }
}

.map {
  margin-top:30px;


}

.myClassname {
  width: 90%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.map1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 50px;

}


.classes {
  margin-top: 7em;
  min-height: 600px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(133, 214, 214); */
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/classesBack.jpg");
  background-size: cover;
  border-radius: 50px;
  opacity: 100%;

}

@media only screen and (max-width:1000px) {
  .classes {
    background-color: rgb(1, 1, 15);
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-top: 100px;
  }

  /* about session */


  .d-block {
    min-height: 600px;
  }
  
}


.carousel-img
{
    min-width:100%;
    object-fit: cover;

}
.img-fluid {
  max-width: 100%;
  height: auto;
}


.carousel {
  margin-top: 29px;
}

.contact {
  margin-top: 28px;
  background-image: linear-gradient(90deg, rgba(7, 1, 0, 0.336), rgba(252, 252, 252, 0.986));
  margin-bottom: -8px;
}


.clas1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.clas1 .p1 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1000px) {
  

  .carousel-item {
    width:100% ;
  }

}

.divfoot{
  margin-top: 10em;
}

.aulas {
  font-size: 4em;
  margin-bottom: 0.7em;
}

.h1-c {
  font-size: 3em;
  color: rgba(243, 26, 26, 0.692);
  box-shadow: 10px 1px rgb(47, 0, 255);
  ;
}

.p1 {
  font-weight: bold;
  color: aliceblue;
  font-size: 2em;
}

.p2 {
  font-weight: bold;
  color: aliceblue;
  font-size: 0.8em;
}


.animate__rotateIn{
  animation-iteration-count: infinite;

}

.entre-em {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: black;
}

.entre-em-e {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: black;
}

.social-media-e {
  margin-left: auto;
  margin-left: auto;
  font-size: 3em;
}

.about {
  margin-top: 1.8em;
  height: 60em;
  background-image: url("./images/hope1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  height: 150em;


}

.about-main {
  background-position: center;
  background-attachment: fixed; 
  background-size: cover;
  /* Font Colour */
  color:white;
  opacity: 1;
  height: 140em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.reach1 {
  font-size: 2.5em;
}

.about-header {
  color: rgb(253, 253, 253);
  text-shadow:  2px 2px #CE5937;
  margin-top: 1.2em;
  font-weight: bolder;
  font-size: 4em;
  opacity: 1;
  z-index: 999;
}

.about-text {
  border: 1px solid rgba(0, 0, 0, 0.651);
  width: 80%;
  min-height: 100%;
  padding: 20px 20px;
  background-color: rgba(8, 0, 0, 0.685);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.d-block .w-100 {
  height: 60em;
  width:100% ;
}

.about-pic {
  height: 50em;
  margin-top: 3em;
  width: 80%;
  border-radius: 90px;

}

.aboutp {
  display: flex;
  justify-content: center;

}

.pabout {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px rgb(255, 0, 0);
}

.habout {
  font-size: 3em;
  margin-top: 1em;
  color: beige;
  background: #0b0ff5;
  border: 5px solid black;
  border-radius: 40px;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0,0,0,0.15);

}

.p-box {
  margin-top: 2em;
}

.ipatinga {
  color: #FFFFFF;
  background: #912C22;
  text-shadow: 0 0 10px #FFFFFF;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.ipa2 {
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.ipa21 {
  color: black;
}

.click {
  color: aqua;
  font-size: 0.5em;
  margin-top: -2.3em;
  margin-right: 4em;
}